<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <select class="form-control" ng-model="countryQuery" ng-options="country.name for country in countries">
        <option value="">Страны</option>
      </select>
    </div>
    <div class="col-xs-4">
      <select class="form-control" ng-model="placeQuery" ng-options="p.name for p in places">
        <option value="">Места</option>
      </select>
    </div>
  </div>
  <div class="media" ng-repeat="tour in tours | orderBy : '-createdAt' | filter: countryQuery.name || undefined | filter: placeQuery.name || undefined">
    <div class="media-left">
      <a href="#">
        <img class="media-object" width="150" height="150" ng-src="http://placehold.it/150x150" alt="Image of the tour">
      </a>
    </div>
    <div class="media-body">
      <div class="clearfix">
        <h3 class="media-heading pull-left"><a ng-href="/#/tours/{{tour.objectId}}">{{tour.title}}</a> <span class="label label-primary">{{tour.country}}</span> <span class="label label-danger">{{tour.place}}</span></h3>
        <big class="media-heading pull-right">{{tour.price | currency:"": 0}} &#8381;</big>
      </div>
      <p>{{tour.text}}</p>
    </div>
  </div>
</div>
